@media (min-width:200px) and (max-width:400px){    /* 200px to 400px*/
  .scroll-area {             /* For changing properties of pages at a time*/
      width:100%;            /* to fit the whole screen*/
      max-width:500px;       /*max width is used to declare the maximum width the screen should support, it should be >=max-width*/
      height: 570px;         /*the height is different in different screen sizes make sure you keep that in mind*/
      margin: 0 auto;
  }
  .motto{
    font-size: 20px;
  }
  .use{
    margin-left: 12%;
  }
  .use h2{
    margin-left: -8%;
  }
  .use li{
    font-size: 12px;
    margin-left: 5%;
    width: 90%;
  }
  .mouse{
    margin-left: 2%;
    margin-top: 2%;
  }
  .pack{
    margin-left: 13%;
    margin-top: 7%;
    font-size: 4vw;
  }
  #video1 video{     /* for the video in id=video1*/
    width: 90vw;     /*vw changes the width according to the screen size automatically*/
    margin-top: 2%;
    margin-left: 3.5%;
    border-radius: 20px;
  }
  #video1 p{          /*fot the text in id=video1*/
    margin-left: 5%;
    font-size: 90%;
  }
  #video3 video{       /*for the video in id=video3*/
    margin-left: 3.5%;
    margin-top: 2%;
    width: 90vw;
    border-radius: 20px;
  }
  #video3 p{            /*for the text in id=video3 */
    margin-left: 5%;
    font-size: 90%;
  }
  .navbar a{      /*for the link in navbar class*/
    border: 2px solid black;
    padding-left: 2vw;    
    padding-right:2vw;
    padding-top: 0.5vh;   /*vh changes the height according of the screen automatically*/
    padding-bottom: 0.5vh;
    font-family:Verdana, Geneva, Tahoma, sans-serif; /*font style*/
    text-decoration: none; /*for removing underlines for links*/
    color: black;
    margin-left: 3%;
  }
  .navbar h1{
    margin-left:10vw;
    font-size:8vw;
  }
  .plane img{
    position: absolute;
    margin-top: 150%;
    width: 70px;
    height: 50px;
    transform:rotate(-10deg);
    animation: plane-animation;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  @keyframes plane-animation{
    0%{}
    10%{margin-top: 152%;}
    25%{width: 100px; height: 50px;}
    40%{margin-top: 15%;transform: rotate(-50deg); width: 80px; height: 50px; }
    50%{margin-top: 150%; margin-left: 75% ;transform: scaleX(-1); width: 80px; height: 50px;}
    55%{margin-top: 152%; transform: scaleX(-1);}
    75%{width: 100px; height: 50px;transform: scaleX(-1);}
    90%{margin-top: 15%;transform: scaleX(-1)}
    100%{}
  }
  .container h1{
    position: absolute;
    margin-left: 38%;
    margin-top: 0vh;
    font-size: 20px;
    animation-name: snake;
    animation-duration: 15s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  /*@keyframes snake{
    0%{margin-left: -9%;margin-top: 20%; transform: rotate(90deg);}
    10%{margin-left: -9%;margin-top:110%; transform: rotate(90deg)}
    20%{margin-left: 30%;margin-top:133%; transform: rotate(0deg)}
    30%{margin-left:70% ;margin-top:110%; transform: rotate(-90deg);}
    40%{margin-left:70% ;margin-top:20%; transform: rotate(-90deg);}
    50%{margin-left:70% ;margin-top:110%; transform: rotate(-90deg);}
    60%{margin-left: 30%;margin-top:133%; transform: rotate(0deg)}
    70%{margin-left: -9%;margin-top:110%; transform: rotate(90deg)}
    100%{margin-left: -9%;margin-top: 20%; transform: rotate(90deg);}
  }*/
  .pictures{
    display:inline-block;
    margin-left: 20%;
    margin-top: 3%;
  }
  .container img{
    margin-top: 5%;
    width: 65vw;
    height: 40vw;
    position: relative;
    border-radius: 20px;
  }
 .column-1 h1{
   font-size: 17px;
 }
 .column-1-elements{
   font-size: 13px;
 }
 .column-2 h1{
   font-size: 17px
 }
 .column-2-elements{
  font-size: 13px;
}
.column-3{
  width: 70%;
  font-size: 13px;
}
.column-3 h1{
  font-size: 17px;
  width: 100%;
}
.column-4{
  margin-top: 8%;
  margin-left: 6%;
}
.column-4 h1{
  font-size: 17px
}
.column-5{
  margin-top: 0;
}
}
@media (min-width:401px) and (max-width:500px){     /* 401px to 500px*/
  .scroll-area {
    width:100%;
      max-width:500px;
      height: 600px;
      margin: 0 auto;
  }
  .plane img{
    position: absolute;
    margin-top: 130%;
    width: 70px;
    height: 50px;
    transform:rotate(-10deg);
    animation: plane-animation;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  @keyframes plane-animation{
    0%{}
    10%{margin-top: 132%;}
    25%{width: 100px; height: 50px;}
    40%{margin-top: 10%;transform: rotate(-50deg); width: 80px; height: 50px; }
    50%{margin-top: 130%; margin-left: 83% ;transform: scaleX(-1); width: 80px; height: 50px;}
    55%{margin-top: 132%; transform: scaleX(-1);}
    75%{width: 100px; height: 50px;transform: scaleX(-1);}
    90%{margin-top: 10%;transform: scaleX(-1)}
    100%{}
  }
  .motto{
    font-size: 4vw;
  }
  .use{
    margin-left: 12%;
  }
  .use h2{
    margin-left: -8%;
  }
  .use li{
    font-size: 14px;
    margin-left: 7%;
    width: 90%;
  }
  .mouse{
    margin-left: 2%;
    margin-top: 5%;
  }
  .pack{
    margin-left: 13%;
    margin-top: 8%;
    font-size: 4vw;
  }
  #video1 video{
    border-radius: 20px;
    width: 78vw;
    margin-top: 2%;
    margin-left: 10%;
  }
  #video1 p{
    margin-left: 10%;
    font-size: 95%;
    width: 88vw;
  }
  #video3 video{
    border-radius: 20px;
    margin-left: 10%;
    margin-top: 2%;
    width: 78vw;
  }
  #video3 p{
    margin-left: 10%;
    font-size: 95%;
    width: 88vw;
  }
  .navbar a{
    border: 2px solid black;
    padding-left: 2vw;
    padding-right:2vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: black;
    margin-left: 3%;
    margin-top: -10%;
  }
  .navbar h1{
    margin-left:18vw;
    font-size:7vw;
  }
  .container h1{
    margin-left: 37vw;
    margin-top: 2vh;
  }
  .container h1{
    position: absolute;
    margin-left: 35%;
    font-size: 20px;
    margin-top: 0vh;
   /* animation-name: snake;
    animation-duration: 15s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;*/
  }/*
  @keyframes snake{
    0%{margin-left: -5%;margin-top: 20%; transform: rotate(90deg);}
    10%{margin-left: -5%;margin-top:90%; transform: rotate(90deg)}
    20%{margin-left: 35%;margin-top:112%; transform: rotate(0deg)}
    30%{margin-left:70% ;margin-top:90%; transform: rotate(-90deg);}
    40%{margin-left:70% ;margin-top:20%; transform: rotate(-90deg);}
    50%{margin-left:70% ;margin-top:90%; transform: rotate(-90deg);}
    60%{margin-left: 35%;margin-top:112%; transform: rotate(0deg)}
    70%{margin-left: -5%;margin-top:90%; transform: rotate(90deg)}
    100%{margin-left: -5%;margin-top: 20%; transform: rotate(90deg);}
  }*/
  .pictures{
    display:inline-block;
    margin-left: 20%;
    margin-top: 2%;
  }
  .container img{
    margin-top: 4%;
    width: 60vw;
    height: 35vw;
    position: relative;
    border-radius: 20px;
  }
  .column-1 h1{
    font-size: 100%;
  }
  .column-1-elements{
    font-size: 95%;
  }
  .column-2 h1{
    font-size: 100%;
  }
  .column-2-elements{
   font-size: 95%;
 }
 .column-3{
   width: 85%;
   font-size: 100%;
 }
 .column-3 h1{
   font-size: 100%;
   width: 50%;
 }
 .column-4{
   margin-top: 2%;
   margin-left: 6%;
 }
 .column-4 h1{
   font-size: 100%;
 }
 .column-5{
   margin-top: -5%;
 }
}

@media (min-width:501px) and (max-width:700px){   /*501px to 700px*/
  .scroll-area {
    width:100%;
      max-width:800px;
      height: 750px;
      margin: 0 auto;
  }
  .plane img{
    position: absolute;
    margin-top: 95%;
    width: 70px;
    height: 50px;
    transform:rotate(-10deg);
    animation: plane-animation;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  @keyframes plane-animation{
    0%{}
    10%{margin-top: 97%;}
    25%{width: 100px; height: 50px;}
    40%{margin-top: 10%;transform: rotate(-50deg); width: 80px; height: 50px; }
    50%{margin-top: 95%; margin-left: 85% ;transform: scaleX(-1); width: 80px; height: 50px;}
    55%{margin-top: 97%; transform: scaleX(-1);}
    75%{width: 100px; height: 50px;transform: scaleX(-1);}
    90%{margin-top: 10%;transform: scaleX(-1)}
    100%{}
  }
  .use h2{
    margin-top: 8%;
  }
  .use li{
    font-size: 15px;
  }
  .mouse{
    margin-left: 2%;
    margin-top: 5%;
  }
  .pack{
    margin-left: 11%;
    margin-top: 8%;
    font-size: 17px;
  }
  #video1 video{
    border-radius: 20px;
    width: 72vw;
    margin-top: 2%;
    margin-left: 13%;
  }
  #video1 p{
    margin-left: 13%;
    font-size: 100%;
    width: 75vw;
  }
  #video3 video{
    border-radius: 20px;
    margin-left: 13%;
    margin-top: 2%;
    width: 72vw;
  }
  #video3 p{
    margin-left: 13%;
    font-size: 100%;
    width: 80vw;
  }
  .navbar a{
    border: 2px solid black;
    padding-left: 2vw;
    padding-right:2vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: black;
    margin-left: 3%;
    margin-top: -10%;
  }
  .navbar h1{
    margin-left:25vw;
    font-size:200%;
  }
  .container h1{
    position: absolute;
    margin-left: 38%;
    margin-top: 0%;
    /*animation-name: snake;
    animation-duration: 15s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;*/
  }/*
  @keyframes snake{
    0%{margin-left: 0%;margin-top: 20%; transform: rotate(90deg);}
    10%{margin-left: 0%;margin-top:90%; transform: rotate(90deg)}
    20%{margin-left: 35%;margin-top:106%; transform: rotate(0deg)}
    30%{margin-left:70% ;margin-top:90%; transform: rotate(-90deg);}
    40%{margin-left:70% ;margin-top:20%; transform: rotate(-90deg);}
    50%{margin-left:70% ;margin-top:90%; transform: rotate(-90deg);}
    60%{margin-left: 35%;margin-top:106%; transform: rotate(0deg)}
    70%{margin-left: 0%;margin-top:90%; transform: rotate(90deg)}
    100%{margin-left: 0%;margin-top: 20%; transform: rotate(90deg);}
  }*/
  .pictures{
    display:inline-block;
    margin-left: 20%;
    margin-top: 2%;
  }
  .container img{
    width: 55vw;
    height: 30vw;
    margin-top: 5%;
    position: relative;
    border-radius: 20px;
  }
  .column-1 h1{
    font-size: 120%;
  }
  .column-1-elements{
    font-size: 100%;
  }
  .column-2 h1{
    font-size: 120%;
  }
  .column-2-elements{
   font-size: 100%;
 }
 .column-3{
   width: 85%;
   font-size: 100%;
 }
 .column-3 h1{
   font-size: 120%;
   width: 50%;
 }
 .column-4{
   margin-top: 5%;
   margin-left: 6%;
 }
 .column-4 h1{
   font-size: 120%;
 }
 .column-5{
   margin-top: -5%;
 }
  
}

@media (min-width:701px) and (max-width:900px){
  .scroll-area {
    width:100%;
      max-width:900px;
      height: 600px;
      margin: 0 auto;
  }
  .plane img{
    position: absolute;
    margin-top: 80%;
    width: 70px;
    height: 50px;
    transform:rotate(-10deg);
    animation: plane-animation;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  @keyframes plane-animation{
    0%{}
    10%{margin-top: 82%;}
    25%{width: 100px; height: 50px;}
    40%{margin-top: 10%;transform: rotate(-50deg); width: 80px; height: 50px; }
    50%{margin-top: 80%; margin-left: 88% ;transform: scaleX(-1); width: 80px; height: 50px;}
    55%{margin-top: 82%; transform: scaleX(-1);}
    75%{width: 100px; height: 50px;transform: scaleX(-1);}
    90%{margin-top: 10%;transform: scaleX(-1)}
    100%{}
  }
  .mouse{
    margin-left: 21%;
    margin-top: -1%;
  }
  .pack{
    margin-left: 28%;
    margin-top: 2%;
    font-size: 15px;
  }
  #video1 video{
    border-radius: 20px;
    width: 50vw;
    margin-top: 5%;
    margin-left: 5vw;
  }
  #video1 p{
    margin-left: 60%;
    margin-top: -20%;
    font-size: 98%;
    width: 35vw;
  }
  #video3 video{
    border-radius: 20px;
    width: 50vw;
    margin-left: 45%;
    margin-top: 10% ;
    
  }
  #video3 p{
    margin-left: 5%;
    margin-top: -20%;
    font-size: 98%;
    width: 35vw;
    
  }
  .navbar a{
    border: 2px solid black;
    padding-left: 2vw;
    padding-right:2vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: black;
    margin-left: 3%;
    margin-top: -10%;
  }
  .navbar h1{
    margin-left:30vw;
    font-size:210%;
  }
  .container h1{
    position: absolute;
    margin-left: 85%;
    margin-top:10%; 
    transform: rotate(90deg);
   /* animation-name: snake;
    animation-duration: 15s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;*/
  }/*
  @keyframes snake{
    
    0%{margin-left: 85%;margin-top:10%; transform: rotate(90deg)}
    50%{margin-left: 85%;margin-top:55%; transform: rotate(90deg)}
    100%{margin-left: 85%;margin-top:10%; transform: rotate(90deg)}
  }*/
  .pictures{
    display:inline-block;
    margin-left: 2%;
    margin-top: 2%;
  }
  .container img{
    width: 40vw;
    height: 25vw;
    position: relative;
    border-radius: 20px;
    
  }
  .column-4{
    margin-top: -15%;
    margin-left: 50%;
  }
  .column-4 h1{
    font-size: 3.5vw;
  }
  .column-5{
    margin-top: 4%;
  }
}

@media (min-width:901px) and (max-width:1200px){
  .scroll-area {
    width:100%;
      max-width:1200px;
      height: 700px;
      margin: 0 auto;
  }
  .plane img{
    position: absolute;
    margin-top: 60%;
    width: 70px;
    height: 50px;
    transform:rotate(-10deg);
    animation: plane-animation;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  @keyframes plane-animation{
    0%{}
    10%{margin-top: 62%;}
    25%{width: 100px; height: 50px;}
    40%{margin-top: 5%;transform: rotate(-50deg); width: 80px; height: 50px; }
    50%{margin-top: 60%; margin-left: 90% ;transform: scaleX(-1); width: 80px; height: 50px;}
    55%{margin-top: 62%; transform: scaleX(-1);}
    75%{width: 100px; height: 50px;transform: scaleX(-1);}
    90%{margin-top: 5%;transform: scaleX(-1)}
    100%{}
  }
  #video1 video{
    border-radius: 20px;
    width: 42vw;
    margin-top: 3%;
    margin-left: 5vw;
  }
  #video1 p{
    margin-left: 55%;
    margin-top: -20%;
    font-size: 140%;
    width: 35vw;
  }
  #video3 video{
    border-radius: 20px;
    width: 42vw;
    margin-left: 55%;
    margin-top: 10% ;
    
  }
  #video3 p{
    margin-left: 5%;
    margin-top: -20%;
    font-size: 140%;
    width: 35vw;
    
  }
  .navbar a{
    border: 2px solid black;
    padding-left: 2vw;
    padding-right:2vw;
    padding-top: 0.7vh;
    padding-bottom: 0.7vh;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: black;
    margin-left: 3%;
    margin-top: -10%;
  }
  .navbar h1{
    margin-left:30vw;
    font-size:210%;
  }
  .container h1{
    position: absolute;
    margin-left: 37vw;
    margin-top: 2vh;
   /* animation-name: snake;
    animation-duration: 15s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;*/
  }/*
  @keyframes snake{
    
    0%{margin-left: 85%;margin-top:10%; transform: rotate(90deg)}
    50%{margin-left: 85%;margin-top:55%; transform: rotate(90deg)}
    100%{margin-left: 85%;margin-top:10%; transform: rotate(90deg)}
  }*/
  .pictures{
    display:inline-block;
    margin-left: 2%;
    margin-top: 4%;
  }
  .container img{
    width: 37vw;
    height: 23vw;
    position: relative;
    border-radius: 20px;
    
  }
}

@media (min-width:1201px) and (max-width:1600px){
  .scroll-area {
    width:100%;
      max-width:1600px;
      height: 800px;
      margin: 0 auto;
  }
  #video1 video{
    border-radius: 20px;
    width: 39vw;
    margin-top: 2%;
    margin-left: 3vw;
  }
  #video1 p{
    margin-left: 57vw;
    margin-top: -18%;
    font-size: 140%;
    width: 35vw;
  }
  #video3 video{
    border-radius: 20px;
    width: 39vw;
    margin-left: 57vw;
    margin-top: 11% ;
    
  }
  #video3 p{
    margin-left: 3vw;
    margin-top: -15%;
    font-size: 140%;
    width: 35vw;
    
  }
  .navbar a{
    border: 2px solid black;
    padding-left: 1.5vw;
    padding-right:1.5vw;
    padding-top: 0.7vh;
    padding-bottom: 0.7vh;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: black;
    margin-left: 2%;
    margin-top: -10%;
  }
  .navbar h1{
    margin-left:35vw;
    font-size:205%;
  }
}








